body {
    font-family: Avenir, Montserrat, Arial, sans-serif;
    background-color: #ffffff;
    color: whitesmoke;
}

#heading {
    color: #000000;
    font-family: Denasia Sans ;
    text-align: center;
    text-decoration: dotted;
    text-transform: capitalize;
}

#it {
    display: flex;
    justify-content: center;
    align-items: center;
}

#c1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
        vertical-align: middle;
    align-items: center;
}


.flex2 {
    flex : 2;
}

.pl1 {
    padding-left: 1em;
}

.img {
    align-self: flex-start;
    height: auto; 
    max-width: 100%;
}


.cupcake_box {
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em;
}

.cupcake1 {
    background-color: #C08081;
}

.cupcake2 {
    background-color: #C08081;
}

.cupcake3 {
    background-color: #C08081;
}

.blue {
    background-color: #3a86ff;
}