body {
    font-family: Avenir, Montserrat, Arial, sans-serif;
    background-image: #ffffff;
    color: whitesmoke;
}

#heading {
    color: #000000;
    font-family: Denasia Sans ;
    text-align: center;
    text-decoration: dotted;
    text-transform: capitalize;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#c1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
        vertical-align: middle;
    align-items: center;
}

.pl1 {
    text-align: justify;
}

.img {
    align-self: flex-start;
    height: auto; 
    max-width: 100%;
}


.cupcake_box {
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em;
}

.cupcake1 {
    background-color: #C08081;
}

.cupcake2 {
    background-color: #C08081;
}

.cupcake3 {
    background-color: #C08081;
}

.blue {
    background-color: #3a86ff;
}

.foot {
    color: black;
    text-align: center;
    font-family: Avenir;
    text-decoration: solid;
}

